<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
        <link rel="stylesheet" href="../css/login_style.css">
  </head>

  <body>

    <div class="login">
  <div class="heading">
    <h2>Admin Login</h2>
    <form action="admin_login_php.php" method="post">

      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" id="u_name" name="u_name" placeholder="Username">
          </div>

        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>

        <button type="submit" class="float">Submit</button>
		
       </form>
 		</div>
 </div>
    
    
    
    
    
  </body>
</html>
